{% extends "main.html" %}

{% block content %}
	<h1> Delete Quotes/Images </h1>
	<form method="post">
		<table>
				<span class="done"> 
					<b>{{done_delete}}</b>
				</span>
				<span class="error"> 
					<b>{{error_delete}}</b>
				</span>
			<br>
			<span> Enter an URL or Title </span>

			<tr>
				<td class="label"> Title </td>
				<td> 
					<input type="text" name="title" value="{{title}}">
				</td>
			</tr>

			<tr>
				<td class="label"> URL </td>
				<td> 
					<input type="text" name="url" value="{{url}}">
				</td>
			</tr>

			<tr>
				<td class="label"> Section </td>
				<td> 
					<input type="text" name="section" value="{{section}}"> <span> quotes / images </span>
				</td>
			</tr>

			<tr>
				<td class="label"> Password </td>
				<td> 
					<input type="password" name="password" value="{{password}}">
				</td>
			</tr>
		</table>
		<input type="submit">
	</form>
	<br> 
{% endblock %}