{% extends "main.html" %}

{% block content %}
	<h1> Welcome - Surabhya Aryal </h1>
	<p>

		'CLICK ON HOME PAGE LINK TO PREVIEW THE ACTUAL WEBSITE'
		<br><br>
		You can change the quotes or images(background images) displayed from here. The top quotes or images on 
		the list get displayed. So make sure you delete the unwanted ones and make your quotes of preference at top. 
		<br><br>

		Addition of images or quotes allow same title for mulitple image or quotes but make sure if two images and quotes 
		don't have the same title if they are realted to each other. While deleting by title, all images or quotes will be 
		flushed. <br>
		<br>

		You can change videos from here. The video has 3 types and the new one replaces the old 
		video with the same type. <br> 
		<br> 

		Note: Video has to embed and playlist takes an embed playlist url ONLY. 
		Moreover, featured and inspirational accept embed playlist url but Video won't be displayed on screen.
		Make sure, you only enter embed URL of a siglr video in  featured or inspirational. 
		<br>

	</p>
{% endblock %}