<!DOCTYPE html>

<html>
  
  <head>
      <title> Computer Science </title>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="static/style.css">
      <script src="static/script.js"></script>
      <script>
        $(document).ready(function(){
            getStarted(); 
        });
      </script>
  </head>
  
  <body>
      
      <h1 align="center"> Computer Science Club - Fisk University </h1>

        <h6 align="center">

          <div id="left-panal">
               <div id="slideshow"> </div>  
          </div>
 
        </h6>
        
  </body>
  
</html>